<div class="area">
    <router-outlet></router-outlet>
</div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="javascript:void(0)" routerLink="dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Anasayfa
                </span>
            </a>

        </li>

        <li>
            <a href="javascript:void(0)" routerLink="stats">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Veri
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout" (click)="logout()">
        <li>
            <a href="javascript:void(0)">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Çıkış
                </span>
            </a>
        </li>
    </ul>
</nav>