<div class="wrapper">
	<div class="container">
		<h1>Hoşgeldiniz</h1>
		admin - 1234
		<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<input type="text" name="username" formControlName="username" placeholder="Kullanıcı Adı">
			<input type="password" name="password" formControlName="password" placeholder="Şifre">
			<button type="submit" id="login-button">Giriş Yap</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
